.rating {
    display: inline-flex;
    align-items: center;
  }
  
  /* Styles étoiles pleines */
  .star.full {
    color: var(--color-primary); 
    font-size: 1.5rem; 
  }
  
  /* Styles étoiles vides */
  .star.empty {
    color: var(--color-dark); 
    font-size: 1.5rem;  
  }
  